body #purposes-content-container .purposes-content {
    background-color: white !important;
}

body #iubenda-iframe-content #purposes-content-container .purposes-content .purposes-header {
    background-color: white !important;
}

body #iubenda-iframe #iubFooterBtnContainer button {
    background-color: #870A30 !important;
}

body #iubenda-iframe.iubenda-iframe-branded .purposes-header .iub-btn:hover {
    background-color: #870A30 !important;
}