
.accordionHeader {
  display: flex;
  cursor: pointer;
}

.accordion {
  height: 100%;
}

.accordionTitle {
  font-size: 1rem;
  flex-grow: 1;
  align-self: center;
}

.accordionExpandButton {
  font-size: 1rem;
  align-self: center;
  text-decoration: underline;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  min-width: 130px;
  max-width: 40%;
}

.accordionBodyEnabled {
  height: auto !important;
}

.expandIcon {
  vertical-align: top;
}

.accordionBody {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}
